.feed_section {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container_feed {
    height: auto;
}

#header_feed {
    display: flex;
    justify-content: space-around;
    background-color: #834af48c;
    width: 100%;
    height: 15%;
    align-items: center;
}

.buscador {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    background-color: #fff479c0;
}

#input_busqueda {
    height: 45%;
    align-items: center;
    margin-top: 10px;
    border: var(--var_bordeinputoscuro);
    border-radius: 10px;
}

.perfil {
    height: 65px;
    width: 68px;
    background-color: #fff;
    background-image: url(../asset/icons/user-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 65%;
    display: flex;
    justify-content: center;
}




#main_feed {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    margin-top: 100px;
    padding: 2rem;
    min-width: 100%;
}


.icon_perfil {
    background: #fff;
    max-width: 500px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    width: 50px;
    height: 53px;
}

.div_post {
    border: var(--var_bordeinputoscuro);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.icon_perfil img {
    height: 3.3rem;
    width: 3.3rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.container_text {
    padding: 1rem 1rem 1rem 1rem;

    box-sizing: content-box;
    margin-top: 55px;
}



.container_text h4 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1rem;

}

.container_text h3 {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: #333;

}

.container_text p {
    margin: 0 0 4.5rem 0;
    line-height: 1.45;
    color: #333;
}


footer {

    display: flex;
    justify-content: space-around;
    background-color: #834af48c;
    width: 100%;
    height: 130%;
    align-items: center;

}