* {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
input[type=text],
input[type=email],
input[type=password] {
    padding: 2px 10px;
}
#incorrect_user {
    font-size: 1.3rem;
}
label {
    font-size: 1.3rem;
}
:root {
    --var_rosa: #E86972;
    --var_amarillo: #FFF479;
    --var_naranjo: #F1B33C;
    --var_colorfuente: #35285A;
    --var_bordeinputoscuro: 1px rgba(60, 59, 63, 0.4) solid;
    --var_bordeinputblanco: 1px #FFFF solid;
    --var-fondoHome: rgba(241, 163, 255, 0.3);
    --var_blanco: #FFFFFF;
    --var_font-google: rgba(60, 59, 63, 1);
    --var_fontgeneral: #3A3A3D;
    --var_fontmedia: 1rem;
}
.img_logo {
    width: 100%;
    margin-top: 20px;
}
/* Section home*/
.section_home {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--var-fondoHome);
    justify-items: center;
    min-height: 100vh;
    justify-content: center;
}
.grilla_form {
    padding: 24px 40px;
    text-align: center;
    margin-bottom: 40px;
}
.grilla_form input {
    border-radius: 12px;
    height: 40px;
    width: 95%;
    border: var(--var_bordeinputoscuro);
    justify-self: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.grilla_form label {
    color: var(--var_colorfuente);
    margin-top: 23px;
    text-align: start;
}
.button_login {
    background-color: var(--var_rosa);
    border-radius: 24px;
    height: 40px;
    color: white;
    border: var(--var_bordeinputblanco);
    width: 71%;
    justify-self: center;
    font-size: 1.3rem;
}
.img_linea {
    width: 96%;
    margin-top: 20px
}
#button_google {
    height: 40px;
    width: 75%;
    border: none;
    background: transparent;
    margin-top: 5px;
}
.img_google {
    height: 126%;
    width: 22%;
    object-fit: cover;
}
.forget_password {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--var_colorfuente);
    font-size: 1.3rem;
    margin-top: 5px;
}
/*  Reset pass */
.reset_password_container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--var-fondoHome);
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 40px;
    min-height: 100vh;
}
.reset_password_title {
    color: var(--var_colorfuente)
}
.reset_password_small_container {
    width: 85%;
    border: 1px solid rgba(241, 163, 255, 0.3);
    background-color: #FFFCFD;
    box-shadow: 2px 8px 40px 0px #834af48c;
    padding: 25px;
    margin: 35px 50px;
    border-radius: 28px;
}
.reset_password_form input {
    border-radius: 12px;
    height: 40px;
    width: 90%;
    border: var(--var_bordeinputoscuro);
    justify-self: center;
    margin-top: 15px;
}
.reset_password_form input:focus {
    border: 1px solid #F1B33C !important;
    outline: none !important;
    box-shadow: 0 0 10px #F1B33C;
}
.reset_password_button {
    background-color: var(--var_amarillo);
    border-radius: 24px;
    height: 40px;
    margin-top: 30px;
    width: 200px;
    border: 1px solid var(--var_naranjo);
    color: var(--var_fontgeneral);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}
.reset_password_form label {
    color: var(--var_colorfuente);
    font-size: 1.3rem;
}
.reset_password_form button {
    background-color: var(--var_rosa);
    color: white;
    border: 0px;
}
.reset_password_paragraph {
    margin-top: 23px;
    margin-bottom: 23px;
    color: var(--var_colorfuente);
    font-size: 1.1rem;
    font-style: oblique;
    font-weight: bolder;
}
.logoForget {
    height: 50%;
    margin-top: 10px;
}


.grilla_form input:focus {
    border: 1px solid #F1B33C !important;
    outline: none !important;
    box-shadow: 0 0 10px #F1B33C;
}

/* Section New Account*/
a {
    color: var(--var_colorfuente);
    font-size: 1.3rem;
}
.btn_crear_cuenta {
    background-color: var(--var_amarillo);
    border-radius: 24px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid var(--var_naranjo);
    font-weight: bold;
    color: var(--var_fontgeneral);
    cursor: pointer;
    font-size: 1.2rem;
    width: 66%;
    justify-self: center;
}
.back_home {
    margin-top: 23px;
    color: var(--var_colorfuente);
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 20px;
}
/* error */
.error_container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 40px
}
.error_title {
    color: var(--var_colorfuente)
}
.error_button {
    background-color: var(--var_amarillo);
    border-radius: 24px;
    height: 40px;
    margin-top: 30px;
    width: 200px;
    border: 1px solid var(--var_naranjo);
    color: var(--var_fontgeneral);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

/* section feed */
.feed_section {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.container_feed {
    height: auto;
}
#header_feed {
    display: flex;
    justify-content: center;
    background-color: #834af48c;
    width: 100%;
    align-items: center;
}
.nav_container_up {
    background-color: #e8868d81;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: center;
}
.buscador {
    margin-left: 13px;
    align-self: center;
    width: 100%;
    height: 60px;
}
#logout {
    width: 68px;
    grid-area: 1/ 2;
    align-self: center;
    justify-self: center;
}
.btn_logout {
    border-radius: 12px;
    border: 1px solid #cccc;
    font-size: 0.9rem;
    width: 126px;
    height: 25px;
    background-color: #E86972;
    color: white;
}
#input_busqueda {
    height: 45%;
    align-items: center;
    margin-top: 15px;
    border: var(--var_bordeinputoscuro);
    border-radius: 10px;
    padding: 10px;
}
.perfil {
    border-radius: 100%;
    position: absolute;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile_photo {
    border-radius: 50px;
    width: 60px;
    cursor: pointer;
}
#myfile {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
#main_feed {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    margin-top: 25px;
    padding: 2rem;
    min-width: 100%;
}
.icon_perfil {
    max-width: 500px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    width: 75%;
    height: 53px;
}
.div_post {
    border: var(--var_bordeinputoscuro);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
}
.icon_perfil img {
    height: 3.3rem;
    width: 3.3rem;
    position: relative;
    border-radius: 100%;
    z-index: 1;
    object-fit: cover;
}
.container_text {
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    box-sizing: content-box;
    margin-top: 55px;
}
.container_text h4 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 0.9rem;
}
.container_text h3 {
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    color: #333;
}
.container_text p {
    margin: 0 0 0.5rem 0;
    line-height: 1.45;
    color: #333;
    font-size: 1.3rem;
    word-wrap: break-word;
    width: 300px;
}
.input-text-area {
    border: none;
    background-color: transparent;
    resize: none;
    min-height: 100px;
    width: 100%;
    overflow: hidden;
}
.container_text .input-text-area:focus,
.container_text .input-text-area:active {
    border: none;
    background-color: transparent;
    outline-width: 0;
}
.textarea-edit {
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    outline-width: auto;
    min-height: 100px;
}
.buttons-edit {
    display: none;
    justify-content: space-around;
}
.button-edit {
    border: none;
    padding: 10px 20px;
    background-color: #999;
}
.button-cancel {
    border: none;
    padding: 10px 20px;
    background-color: #fff;
}
/* Section Create Post*/
.nav_post {
    width: 100%;
    padding: 20px;
    background-color: #834af48c;
}
.post_small_container {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
#post_content {
    resize: none;
    font-size: 16px;
}
#add_post {
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 47px;
    background: #FFF;
    right: 0;
    bottom: 5px;
    margin-right: 12px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#post_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#post_button {
    background-color: #F1B33C;
    border-radius: 24px;
    margin-top: 20px;
    height: 35px;
    color: white;
    border: var(--var_bordeinputblanco);
    width: 50%;
    align-self: flex-end;
    font-size: 1.1rem;
    cursor: pointer;
}

.icon_post {
    align-self: flex-start;
}
#profile_photo_post{
    border-radius: 50px;
    width: 60px;
}
/* Section Profile*/
.nav_profile {
    width: 100%;
    padding: 20px;
    background-color: #834af48c;
}
.nav_profile i {
    margin-top: 12px;
}
.edit_profile {
    width: 100%;
    padding: 20px 30px;
    background-color: #e8868d81;
}
.btn_edit_profile {
    width: 110px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    align-self: center;
    justify-self: flex-end;
    justify-content: center;
    border: 2px solid #E86972;
    background-color: #E86972;
    color: white;
    align-items: center;
}
.descripcion_perfil {
    list-style: none;
}
.info_perfil {
    align-self: center;
}
#current_user_name {
    align-items: center;
    font-size: large;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin-bottom: 12px;
    margin-top: 12px;
    color: var(--var_fontgeneral);
}
.perfil_post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Dropdown profile*/
#drop_btn {
    cursor: pointer;
    width: 15px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: var(--var_fontgeneral)
}
#myDropdown {
    border: 1px solid #ccc;
    border-radius: 12px;
}
#drop_btn:hover,
#drop_btn:focus {
    background-color: #35285a52;
}
.drop_down {
    position: relative;
    display: inline-block;
}
.drop_down_content {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 30px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.drop_down_content a {
    margin: 0;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
/* Alert delete post*/
.swal-button--confirm {
    background-color: #F1B33C;
    border: #999;
}
@media (min-width: 768px) {
    body {
        background-color: var(--var-fondoHome);
    }
    .no-bg {
        background-color: transparent;
    }
    .section_home,
    .container_account,
    .reset_password_container {
        max-width: 40%;
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 30%;
        background-color: transparent;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        text-align: center;
    }
    #main_feed {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 0.6fr;
    }
    .nav_container_up {
        grid-template-columns: 1fr 2fr;
    }
    #input_busqueda {
        border: 1px solid #F1B33C;
        outline: none;
        box-shadow: 0 0 10px #F1B33C;
        width: 200px;
        margin-left: 117px;
    }
    #logout {
        grid-area: 1/ 3;
        margin-right: 100px;
    }
    .buscador {
        grid-area: 1/2;
        margin-left: 60px;
        width: 360px;
    }
    .grilla_form label {
        font-size: 1.1rem;
        color: var(--var_colorfuente);
    }
    .btn_crear_cuenta {
        font-size: 1.0rem;
    }
    .img_logo {
        width: 40%;
    }
    .div_post {
        width: min-content;
        height: fit-content;
        display: flex;
        justify-self: center;
    }
    .container_text p {
        width: 500px;
    }
    /* Estilo botones & input Desktop*/
    #button_google {
        height: 40px;
        width: 75%;
        border: none;
        background: transparent;
        margin-top: 5px;
    }
    .img_google {
        height: 87%;
        width: 11%;
        object-fit: cover;
    }
    .forget_password {
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
    }
    #post_content {
        width: 400px;
        height: 200px;
    }
    #profile_photo_post{
        border-radius: 50px;
        width: 100px;
    }
}