*{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}


:root {
    --var_rosa: #E8868C;
    --var_amarillo: #FFF479;
    --var_naranjo: #F1B33C;
    --var_colorfuente: #35285A;
    --var_bordeinputoscuro: 1px #3C3B3F solid;
    --var_bordeinputblanco: 1px #FFFF solid;
    --var_blanco:#FFFFFF;
  }